						<!-- START Intro Section - Full -->
						<table class="table600full" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse; padding:0; margin:0 auto; width:600px;">
							<tbody>
								<tr>
									<td class="valign-top" style="width:100%;" width="100%">
										<table bgcolor="#001731" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
											<tbody>
												<tr>
													<td class="spacer" width="60" style="width:60px;"><span>&nbsp;</span></td>
													<td class="grid_block valign-top" width="480" style="width:480px;">
														<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
															<tbody>
																<tr>
																	<td style="height:40px; line-height:40px;"><span>&nbsp;</span></td>
																</tr>
																<tr>
																	<td><span style="color:#fff; font-size:11px; font-weight:bold; text-transform:uppercase;">SLOAN WOMEN IN MANAGEMENT &amp; MALE ALLIES INVITE YOU TO:</span></td>
																</tr>
																<tr>
																	<td><span style="color:#fff; font-size:45px; font-weight:bold; line-height:normal;">SWIM X Male Allies Social</span></td>
																</tr>
																<tr>
																	<td style="height:20px; line-height:20px;"><span>&nbsp;</span></td>
																</tr>
																<tr>
																	<td style="color:#fff; font-size:16px; font-weight:bold; line-height:25px;"><span>Tuesday, April 9th, 2019</span><span>&nbsp;|&nbsp;</span><span>4:00pm - 5:30pm</span></td>
																</tr>
																<tr>
																	<td style="color:#fff; font-size:16px; font-weight:bold; line-height:25px;"><span>Name of location lorem ipsum dolor sit amet</span></td>
																</tr>
																<tr>
																	<td style="height:20px; line-height:20px;"><span>&nbsp;</span></td>
																</tr>
																<tr>
																	<td style="line-height:10px;" valign="top">
																		<img alt="hr-line " src="https://applymitsloan.mit.edu/www/images/ADM%20Email%20Template%20Photos/line01.png" style="width:48px; height:10px;" />
																	</td>
																</tr>
																<tr>
																	<td style="height:20px; line-height:20px;"><span>&nbsp;</span></td>
																</tr>
																<tr>
																	<td style="color:#fff; font-size:16px; line-height:22px; font-weight:normal;"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</span></td>
																</tr>
																<tr>
																	<td style="height:28px; line-height:28px;"><span>&nbsp;</span></td>
																</tr>
																<tr>
																	<td>
																		<table align="left" border="0" cellpadding="0" cellspacing="0" style="width:auto!important;">
																			<tbody>
																				<tr>
																					<td bgcolor="#001731" style="float:left;">
																						<a href="#" style="padding:8px 10px; display:inline-block; border:1px solid #FFFFFF; font-size:12px; line-height:normal; font-weight:bold; color:#FFFFFF; text-decoration:none; background-color:#001731">RSVP NOW</a>
																					</td>
																				</tr>
																			</tbody>
																		</table>

																		<table align="left" border="0" cellpadding="0" cellspacing="0" style="width:auto!important;">
																			<tbody>
																				<tr>
																					<td bgcolor="#FFFFFF" style="float:left;">
																							<a href="#" style="padding:8px 10px; display:inline-block; border:1px solid #FFFFFF; font-size:12px; line-height:normal; font-weight:bold; color:#001731; text-decoration:none; background-color:#FFFFFF;">RSVP NOW</a>
																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</td>
																</tr>
																<tr>
																	<td style="height:45px; line-height:45px;"><span>&nbsp;</span></td>
																</tr>
															</tbody>
														</table>
													</td>
													<td class="spacer" width="60" style="width:60px;"><span>&nbsp;</span></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- END Intro Section - Full -->
