						<!-- START Intro Section - Short -->
						<table class="table600full" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse; padding:0; margin:0 auto; width:600px;">
							<tbody>
								<tr>
									<td class="valign-top" style="width:100%;" width="100%">
										<table bgcolor="#001731" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
											<tbody>
												<tr>
													<td class="spacer" width="60" style="width:60px;"><span>&nbsp;</span></td>
													<td class="grid_block valign-top" width="480" style="width:480px;">
														<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
															<tbody>
																<tr>
																	<td style="height:40px; line-height:40px;"><span>&nbsp;</span></td>
																</tr>
																<tr>
																	<td><span style="color:#fff; font-size:45px; font-weight:bold; line-height:normal;">MIT Newsletter Lorem ipsum dolor sit amen, consectetur adopt sing lit</span></td>
																</tr>
																<tr>
																	<td style="height:36px; line-height:36px;"><span>&nbsp;</span></td>
																</tr>
																<tr>
																	<td style="line-height:10px;" valign="top">
																		<img alt="hr-line " src="https://applymitsloan.mit.edu/www/images/ADM%20Email%20Template%20Photos/line01.png" style="width:48px; height:10px;" />
																	</td>
																</tr>
																<tr>
																	<td style="height:36px; line-height:36px;"><span>&nbsp;</span></td>
																</tr>
															</tbody>
														</table>
													</td>
													<td class="spacer" width="60" style="width:60px;"><span>&nbsp;</span></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- END Intro Section - Short -->
