<!-- START Text Section - Heading Yes - Description - Yes - Red-->
<table class="table600full" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse; padding:0; margin:0 auto; width:600px;">
	<tbody>
		<tr>
			<td class="full_width question-section" align="center" width="100%" style="background:#fff; width:100%;">
				<table bgcolor="#920C29" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
					<tbody>
						<tr>
							<td class="spacer" width="60" style="width:60px;"><span>&nbsp;</span></td>
							<td class="grid_block" width="480" style="width:480px;">
								<table bgcolor="#920C29" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
									<tbody>
										<tr>
											<td style="height:40px; line-height:40px;"><span>&nbsp;</span></td>
										</tr>
										<tr>
											<td class="valign-top" style="color:#fff; font-size:24px; font-weight:bold; line-height:30px;">What Does a Day Look Like as an MIT Sloan MBA?</td>
										</tr>
										<tr>
											<td style="height:20px;"><span>&nbsp;</span></td>
										</tr>
										<tr>
											<td class="valign-top" style="color:#fff; font-size:16px; line-height:22px;">Meet MBA student Jared Johhnson. Keep scrolling to see what a typical day looks like at MIT Sloan for Jared.</td>
										</tr>
										<tr>
											<td style="height:50px; line-height:50px;"><span>&nbsp;</span></td>
										</tr>
									</tbody>
								</table>
							</td>
							<td class="spacer" width="60" style="width:60px;"><span>&nbsp;</span></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<!-- END Text Section - Heading Yes - Description - Yes - Red-->
