<!-- START Text Block (Red, Heading Only) Refactored -->
<table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="border-collapse:collapse; width:100%; background:#FFFFFF;">
	<tr>
		<td align="center" style="padding:0; margin:0;">
			<table role="presentation" width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="border-collapse:collapse; width:100%; max-width:600px; margin:0 auto; background:#920C29;">
				<tr>
					<td width="60" style="width:60px; font-size:1px; line-height:1px;">&nbsp;</td>
					<td width="480" style="width:480px; padding:0; margin:0;">
						<table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse; width:100%;">
							<tr><td style="height:40px; line-height:40px; font-size:1px;">&nbsp;</td></tr>
							<tr>
								<td style="color:#FFFFFF; font-size:24px; line-height:30px; font-weight:bold;">3 components of the MBA program that are uniquely MIT.</td>
							</tr>
							<tr><td style="height:50px; line-height:50px; font-size:1px;">&nbsp;</td></tr>
						</table>
					</td>
					<td width="60" style="width:60px; font-size:1px; line-height:1px;">&nbsp;</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<!-- END Text Block (Red, Heading Only) Refactored -->
