						<!-- START Header Section - 1 Logo - Medium Blue -->
						<table class="table600full" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse; padding:0; margin:0 auto; width:600px;">
							<tbody>
								<tr>
									<td>
										<table bgcolor="#00597D" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
											<tbody>
												<tr>
													<td class="spacer" width="60" style="width:60px;"><span>&nbsp;</span></td>
													<td class="grid_block" width="480" style="width:480px;">
														<table bgcolor="#00597D" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
															<tbody>
																<tr>
																	<td style="height:20px; line-height:20px;"><span>&nbsp;</span></td>
																</tr>
																<tr>
																	<td class="head-alt-col1" width="110">
																		<img alt="logo" src="https://placehold.co/182x106" width="91" height="53" style="width:91px; height:53px; vertical-align:middle;" />
																	</td>
																	<td width="16" style="border-left:2px solid #5592AA"><span>&nbsp;</span></td>
																	<td width="350" style="line-height:20px">
																		<span style="color:#fff; font-size:14px; font-weight:bold; text-transform:uppercase;">MASTER OF BUSINESS ANALYTICS</span>
																		<br />
																		<span style="color:#fff; font-size:14px;">April, 2019</span>
																	</td>
																</tr>
																<tr>
																	<td style="height:20px; line-height:20px;"><span>&nbsp;</span></td>
																</tr>
															</tbody>
														</table>
													</td>
													<td class="spacer" width="60" style="width:60px;"><span>&nbsp;</span></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- END Header Section - 1 Logo - Medium Blue -->
