						<!-- START Header Section - 2 Logo - Dark Blue -->
						<table class="table600full" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse; padding:0; margin:0 auto; width:600px;">
							<tbody>
								<tr>
									<td style="width:100%;" width="100%">
										<table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
											<tbody>
												<tr>
													<td colspan="5" style="height:25px; line-height:25px;"><span>&nbsp;</span></td>
												</tr>
												<tr>
													<td class="spacer" width="60" style="width:60px;"><span>&nbsp;</span></td>
													<td class="head-col1" width="120" style="width:120px;">
														<img alt="logo" src="https://placehold.co/182x106" width="91" height="53" style="width:91px; height:53px;" />
													</td>
													<td class="head-col2">
														<img alt="img" src="https://placehold.co/100x118" width="50" height="59" style="width:50px; height:59px;" />
													</td>
													<td class="head-col3" style="text-align:right; vertical-align:top;"><a href="#" style="color:#434547; font-size:9px; text-decoration:underline;">View in Browser</a><span>&nbsp;&nbsp;</span> <a href="#" style="color:#434547; font-size:9px; text-decoration:underline;">Forward to a Friend</a></td>
													<td class="spacer" width="60" style="width:60px;"><span>&nbsp;</span></td>
												</tr>
												<tr>
													<td colspan="5" style="height:30px; line-height:30px;"><span>&nbsp;</span></td>
												</tr>
												<tr>
													<td bgcolor="#001731" colspan="5" style="background-color: #001731" valign="top">
														<table bgcolor="#001731" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
															<tbody>
																<tr>
																	<td colspan="3" style="height:10px; line-height:10px;"><span>&nbsp;</span></td>
																</tr>
																<tr>
																	<td class="spacer" width="60" style="width:60px;"><span>&nbsp;</span></td>
																	<td align="left" class="grid_block" width="480" style="width:480px; text-align:left;">
																		<span style="color:#fff; font-size:14px; font-weight:bold; text-transform:uppercase; text-align:left;">MASTER OF BUSINESS ANALYTICS</span>
																		<span style="color:#007CB5; font-size:14px; font-weight:bold; text-transform:uppercase;text-align:left;">&nbsp; |&nbsp;&nbsp;</span>
																		<span style="color:#fff; font-size:14px; text-align:left;">April, 2019</span>
																	</td>
																	<td class="spacer" width="60" style="width:60px;"><span>&nbsp;</span></td>
																</tr>
																<tr>
																	<td colspan="3" style="height:10px; line-height:10px;"><span>&nbsp;</span></td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- END Header Section - 2 Logo - Dark Blue -->
