<!-- START Header - 2 Logo Dark Blue (Refactored) -->
<table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="border-collapse:collapse; width:100%; background:#FFFFFF;">
	<tr>
		<td align="center" style="padding:0; margin:0;">
			<table role="presentation" width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="border-collapse:collapse; width:100%; max-width:600px; background:#FFFFFF;">
				<tr><td colspan="5" style="height:25px; line-height:25px; font-size:1px;">&nbsp;</td></tr>
				<tr>
					<td width="60" style="width:60px; font-size:1px; line-height:1px;">&nbsp;</td>
					<td width="120" style="width:120px;">
						<img src="https://placehold.co/182x106" alt="logo" width="91" height="53" style="display:block; width:91px; height:53px; border:0;" />
					</td>
					<td width="60" style="width:60px;">
						<img src="https://placehold.co/100x118" alt="secondary logo" width="50" height="59" style="display:block; width:50px; height:59px; border:0;" />
					</td>
					<td valign="top" style="text-align:right; vertical-align:top; font-size:9px; line-height:12px;">
						<a href="#" style="color:#434547; font-size:9px; text-decoration:underline;">View in Browser</a>&nbsp;&nbsp;
						<a href="#" style="color:#434547; font-size:9px; text-decoration:underline;">Forward to a Friend</a>
					</td>
					<td width="60" style="width:60px; font-size:1px; line-height:1px;">&nbsp;</td>
				</tr>
				<tr><td colspan="5" style="height:30px; line-height:30px; font-size:1px;">&nbsp;</td></tr>
				<tr>
					<td colspan="5" style="padding:0; margin:0; background:#001731;">
						<table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse; width:100%; background:#001731;">
							<tr><td colspan="3" style="height:10px; line-height:10px; font-size:1px;">&nbsp;</td></tr>
							<tr>
								<td width="60" style="width:60px; font-size:1px; line-height:1px;">&nbsp;</td>
								<td width="480" style="width:480px; text-align:left; font-size:0;">
									<span style="color:#FFFFFF; font-size:14px; font-weight:bold; text-transform:uppercase;">MASTER OF BUSINESS ANALYTICS</span>
									<span style="color:#007CB5; font-size:14px; font-weight:bold; text-transform:uppercase;">&nbsp; |&nbsp;&nbsp;</span>
									<span style="color:#FFFFFF; font-size:14px;">April, 2019</span>
								</td>
								<td width="60" style="width:60px; font-size:1px; line-height:1px;">&nbsp;</td>
							</tr>
							<tr><td colspan="3" style="height:10px; line-height:10px; font-size:1px;">&nbsp;</td></tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<!-- END Header - 2 Logo Dark Blue (Refactored) -->
