<!-- START Header - 1 Logo White (Refactored) -->
<table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="border-collapse:collapse; width:100%; background:#FFFFFF;">
	<tr>
		<td align="center" style="padding:0; margin:0;">
			<table role="presentation" width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="border-collapse:collapse; width:100%; max-width:600px; background:#FFFFFF;">
				<tr><td colspan="3" style="height:20px; line-height:20px; font-size:1px;">&nbsp;</td></tr>
				<tr>
					<td width="60" style="width:60px; font-size:1px; line-height:1px;">&nbsp;</td>
					<td width="480" style="width:480px; padding:0; margin:0;">
						<table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse; width:100%;">
							<tr>
								<td valign="middle" width="110" style="width:110px; vertical-align:middle;">
									<img src="https://placehold.co/182x106" alt="logo" width="91" height="53" style="display:block; width:91px; height:53px; border:0;" />
								</td>
								<td width="16" style="width:16px; border-left:2px solid #BDBBBB; font-size:1px; line-height:1px;">&nbsp;</td>
								<td style="color:#434547; font-size:14px; line-height:20px; font-weight:normal;">
									<span style="font-weight:bold; text-transform:uppercase; display:block;">MASTER OF BUSINESS ANALYTICS</span>
									<span style="display:block;">April, 2019</span>
								</td>
							</tr>
						</table>
					</td>
					<td width="60" style="width:60px; font-size:1px; line-height:1px;">&nbsp;</td>
				</tr>
				<tr><td colspan="3" style="height:20px; line-height:20px; font-size:1px;">&nbsp;</td></tr>
			</table>
		</td>
	</tr>
</table>
<!-- END Header - 1 Logo White (Refactored) -->
