<!-- START Events Section - Images No -->
<table class="table600full" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;padding:0;margin:0 auto;width:100%;max-width:600px;">
	<tbody>
		<tr>
			<td align="center" width="100%" style="background:#FFFFFF;width:100%;padding:0;margin:0;">
				<table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;padding:0;margin:0 auto;width:100%;max-width:600px;">
					<tbody>
						<tr>
							<td class="spacer" width="60" style="width:60px;min-width:10px;"><span>&nbsp;</span></td>
							<td class="stack stack-full" width="480" style="width:480px;max-width:480px;">
								<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0 auto; width:100%;">
									<tbody>
										<tr>
											<td style="font-size:28px;line-height:34px;font-weight:700;display:block;color:#007CB5;">
												<span>Upcoming Events lorem ipsum dolor sit amet, consectetur elit</span>
											</td>
										</tr>
										<tr>
											<td style="height:15px;line-height:15px;font-size:1px;"><span>&nbsp;</span></td>
										</tr>
										<tr>
											<td style="font-size:18px;line-height:24px;font-weight:400;display:block;color:#272834;">
												<span>Optional intro text area. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque laoreet sagittis tortor. Mauris tempus, tellus et volutpat iaculis, lorem augue gravida est, vel aliquet nibh enim ac lacus.</span>
											</td>
										</tr>
										<tr>
											<td style="height:25px;line-height:25px;font-size:1px;"><span>&nbsp;</span></td>
										</tr>
										<tr>
											<td class="title-row pattern-row w-100 valign-top text-left" style="padding:0;margin:0;">
												<span class="pattern-span"><img alt="pattern" src="https://applymitsloan.mit.edu/www/images/ADM%20Email%20Template%20Photos/pattern2.png" width="67" style="display:block;width:67px;max-width:67px;height:auto;border:0;" /></span>
											</td>
										</tr>
										<tr>
											<td style="height:40px;line-height:40px;font-size:1px;"><span>&nbsp;</span></td>
										</tr>
									</tbody>
								</table>

								<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;padding:0;margin:0 auto;width:100%;">
									<tbody>
										<tr>
											<td style="padding:0;margin:0;">
												<span style="color:#007CB5;font-weight:700;font-size:18px;line-height:22px;">Anjali Sastry, Ph.D, Senior Lecturer, MIT Sloan School</span>
											</td>
										</tr>
										<tr>
											<td style="height:5px;line-height:5px;font-size:1px;"><span>&nbsp;</span></td>
										</tr>
										<tr>
											<td style="padding:0;margin:0;">
												<span style="color:#007CB5;font-weight:400;font-size:16px;line-height:22px;">April 22, 2019</span>
												<span style="color:#007CB5;font-weight:400;font-size:16px;line-height:22px;">&nbsp;|&nbsp;</span>
												<span style="color:#007CB5;font-weight:400;font-size:16px;line-height:22px;">6:00PM - 7:30PM</span>
											</td>
										</tr>
										<tr>
											<td style="padding:0;margin:0;">
												<span style="color:#007CB5;font-weight:400;font-size:16px;line-height:22px;">Cambridge, MA</span>
											</td>
										</tr>
										<tr>
											<td style="height:20px;line-height:20px;font-size:1px;"><span>&nbsp;</span></td>
										</tr>
										<tr>
											<td style="padding:0;margin:0;">
<a href="#" style="font-size:12px;line-height:17px;color:#001731;font-weight:700;text-decoration:underline;" aria-label="Register for EVENT here">REGISTER HERE</a>

											</td>
										</tr>
									</tbody>
								</table>

								<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;padding:0;margin:0 auto;width:100%;">
									<tbody>
										<tr>
											<td width="480" style="height:30px;line-height:30px;border-bottom:1px solid #BDBBBB;font-size:1px;"><span>&nbsp;</span></td>
										</tr>
										<tr>
											<td style="height:30px;line-height:30px;font-size:1px;"><span>&nbsp;</span></td>
										</tr>
									</tbody>
								</table>

								<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;padding:0;margin:0 auto;width:100%;">
									<tbody>
										<tr>
											<td style="padding:0;margin:0;">
												<span style="color:#007CB5;font-weight:700;font-size:18px;line-height:22px;">Setting the record straight on lean</span>
											</td>
										</tr>
										<tr>
											<td style="height:5px;line-height:5px;font-size:1px;"><span>&nbsp;</span></td>
										</tr>
										<tr>
											<td style="padding:0;margin:0;">
												<span style="font-size:16px;font-weight:400;color:#272834;line-height:22px;">Lean, the production system pioneered at Toyota, has fallen victim to a galaxy of….</span>
											</td>
										</tr>
									</tbody>
								</table>

								<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;padding:0;margin:0 auto;width:100%;">
									<tbody>
										<tr>
											<td width="480" style="height:30px;line-height:30px;border-bottom:1px solid #BDBBBB;font-size:1px;"><span>&nbsp;</span></td>
										</tr>
										<tr>
											<td style="height:30px;line-height:30px;font-size:1px;"><span>&nbsp;</span></td>
										</tr>
									</tbody>
								</table>

								<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;padding:0;margin:0 auto;width:100%;">
									<tbody>
										<tr>
											<td style="padding:0;margin:0;">
												<span style="color:#007CB5;font-weight:700;font-size:18px;line-height:22px;">Our Towns: Journey Into the Heart of America</span>
											</td>
										</tr>
										<tr>
											<td style="height:5px;line-height:5px;font-size:1px;"><span>&nbsp;</span></td>
										</tr>
										<tr>
											<td style="padding:0;margin:0;">
												<span style="color:#007CB5;font-weight:400;font-size:16px;line-height:22px;">April 22, 2019</span>
												<span style="color:#007CB5;font-weight:400;font-size:16px;line-height:22px;">&nbsp;|&nbsp;</span>
												<span style="color:#007CB5;font-weight:400;font-size:16px;line-height:22px;">6:00PM - 7:30PM</span>
											</td>
										</tr>
										<tr>
											<td style="padding:0;margin:0;">
												<span style="color:#007CB5;font-weight:400;font-size:16px;line-height:22px;">Cambridge, MA</span>
											</td>
										</tr>
										<tr>
											<td style="height:5px;line-height:5px;font-size:1px;"><span>&nbsp;</span></td>
										</tr>
										<tr>
											<td style="padding:0;margin:0;">
												<span style="font-size:16px;font-weight:400;color:#272834;line-height:22px;">Hear from James and Deborah Fallows, authors of the book “Our Towns: A 100,000-Mile Journey….</span>
											</td>
										</tr>
										<tr>
											<td style="height:20px;line-height:20px;font-size:1px;"><span>&nbsp;</span></td>
										</tr>
										<tr>
											<td style="padding:0;margin:0;">
												<table border="0" cellpadding="0" cellspacing="0" style="width:auto!important;margin:0!important;">
													<tbody>
														<tr>
															<td bgcolor="#DBDBDB" style="padding:0;margin:0;">
																<a href="#" style="padding:8px 16px;display:inline-block;border:1px solid #DBDBDB;font-size:12px;line-height:normal;font-weight:bold;color:#001731;text-decoration:none;background-color:#DBDBDB;">REGISTER HERE</a>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>

								<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;padding:0;margin:0 auto;width:100%;">
									<tbody>
										<tr>
											<td width="480" style="height:30px;line-height:30px;border-bottom:1px solid #BDBBBB;font-size:1px;"><span>&nbsp;</span></td>
										</tr>
										<tr>
											<td style="height:30px;line-height:30px;font-size:1px;"><span>&nbsp;</span></td>
										</tr>
									</tbody>
								</table>

								<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:auto!important;">
									<tbody>
										<tr>
											<td bgcolor="#ffffff" style="padding-bottom:1px;">
												<a href="#" style="padding:8px 16px;display:inline-block;border:1px solid #007CB5;font-size:12px;font-weight:bold;color:#007CB5;text-decoration:none;background-color:#ffffff;">SEE ALL EVENTS</a>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td class="spacer" width="60" style="width:60px;"><span>&nbsp;</span></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<!-- END Events Events Section - Images No -->
