<!-- START Schedule Section - Images No - Full Width Item No -->
<table class="table600full" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse; padding:0; margin:0 auto; width:600px;">
	<tbody>
		<tr>
			<td class="full_width schedule-section" align="center" width="100%" style="background: #FFFFFF; width:100%;">
				<table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
					<tbody>
						<tr>
							<td class="spacer" width="60" style="width:60px;"><span>&nbsp;</span></td>
							<td class="stack stack-full" width="480" style="width:480px;">
								<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
									<tbody>
										<tr>
											<td>
												<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
													<tbody>
														<tr>
															<td style="color:#E10036; font-size:18px; font-weight:bold; text-transform:uppercase;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</td>
														</tr>
														<tr>
															<td style="height:20px; line-height:20px;"><span>&nbsp;</span></td>
														</tr>
														<tr>
															<td style="color:#272834; font-size:16px; line-height:22px;">Jared Johnson, MBA ’20 and Adam Klein, MBA ’19, meet with the MIT Sloan Coders Club about an upcoming hackathon with the Product Management Club. Jared reflects on learning to code, “Being able to constantly challenge yourself with something, getting better and better, is an enjoyable ride.”</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>

								<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
									<tbody>
										<tr>
											<td width="480" height="1" style="height:24px; line-height:24px; border-bottom:1px solid #BDBBBB; width:480px;"><span>&nbsp;</span></td>
										</tr>
										<tr>
											<td style="height:30px; line-height:30px;"><span>&nbsp;</span></td>
										</tr>
									</tbody>
								</table>

								<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
									<tbody>
										<tr>
											<td>
												<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
													<tbody>
														<tr>
															<td style="color:#E10036; font-size:18px; font-weight:bold; text-transform:uppercase;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</td>
														</tr>
														<tr>
															<td style="height:20px; line-height:20px;"><span>&nbsp;</span></td>
														</tr>
														<tr>
															<td style="color:#272834; font-size:16px; line-height:22px;">Jared Johnson, MBA ’20 and Adam Klein, MBA ’19, meet with the MIT Sloan Coders Club about an upcoming hackathon with the Product Management Club. Jared reflects on learning to code, “Being able to constantly challenge yourself with something, getting better and better, is an enjoyable ride.”</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>

								<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
									<tbody>
										<tr>
											<td width="480" height="1" style="height:24px; line-height:24px; border-bottom:1px solid #BDBBBB; width:480px;"><span>&nbsp;</span></td>
										</tr>
										<tr>
											<td style="height:30px; line-height:30px;"><span>&nbsp;</span></td>
										</tr>
									</tbody>
								</table>

								<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
									<tbody>
										<tr>
											<td>
												<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
													<tbody>
														<tr>
															<td style="color:#E10036; font-size:18px; font-weight:bold; text-transform:uppercase;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</td>
														</tr>
														<tr>
															<td style="height:20px; line-height:20px;"><span>&nbsp;</span></td>
														</tr>
														<tr>
															<td style="color:#272834; font-size:16px; line-height:22px;">Jared Johnson, MBA ’20 and Adam Klein, MBA ’19, meet with the MIT Sloan Coders Club about an upcoming hackathon with the Product Management Club. Jared reflects on learning to code, “Being able to constantly challenge yourself with something, getting better and better, is an enjoyable ride.”</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
										<tr>
											<td style="height:24px; line-height:24px;"><span>&nbsp;</span></td>
										</tr>
									</tbody>
								</table>
							</td>
							<td class="spacer" width="60" style="width:60px;"><span>&nbsp;</span></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<!-- END Schedule Section - Images No - Full Width Item No -->
