<!-- START Schedule Section - Images Yes - Full Width Item Yes -->
<table class="table600full" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse; padding:0; margin:0 auto; width:600px;">
	<tbody>
		<tr>
			<td class="full_width schedule-section" align="center" width="100%" style="background: #FFFFFF; width:100%;">
				<table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
					<tbody>
						<tr>
							<td class="spacer" width="60" style="width:60px;"><span>&nbsp;</span></td>
							<td class="stack stack-full" width="480" style="width:480px;">
								<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
									<tbody>
										<tr>
											<td>
												<table class="stack stack-full" align="left" border="0" cellpadding="0" cellspacing="0" width="29.17%">
													<tbody>
														<tr>
															<td class="mobile-bottom-20" width="480">
																<img class="img-fluid" alt="img-fluid" src="https://placehold.co/440x204" width="140" style="width:100%;" />
															</td>
														</tr>
													</tbody>
												</table>

												<table class="stack stack-full" align="right" border="0" cellpadding="0" cellspacing="0" width="64.6%">
													<tbody>
														<tr>
															<td class="valign-top" style="color:#E10036; font-size:28px; font-weight:bold; text-transform:uppercase; vertical-align:top;">STEP 1</td>
														</tr>
														<tr>
															<td style="height:20px; line-height:20px;"><span>&nbsp;</span></td>
														</tr>
														<tr>
															<td class="valign-top" style="color:#272834; font-size:16px; line-height:22px;">Jared Johnson, MBA ’20 and Adam Klein, MBA ’19, meet with the MIT Sloan Coders Club about an upcoming hackathon with the Product Management Club. Jared reflects on learning to code, “Being able to constantly challenge yourself with something, getting better and better, is an enjoyable ride.”</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>

								<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
									<tbody>
										<tr>
											<td width="480" height="1" style="height:24px; line-height:24px; border-bottom:1px solid #BDBBBB; width:480px;"><span>&nbsp;</span></td>
										</tr>
										<tr>
											<td style="height:30px; line-height:30px;"><span>&nbsp;</span></td>
										</tr>
									</tbody>
								</table>

								<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
									<tbody>
										<tr>
											<td>
												<table class="stack stack-full" align="left" border="0" cellpadding="0" cellspacing="0" width="29.17%">
													<tbody>
														<tr>
															<td class="mobile-bottom-20" width="480">
																<img class="img-fluid" alt="img-fluid" src="https://placehold.co/280x160" width="140" style="width:100%;" />
															</td>
														</tr>
													</tbody>
												</table>

												<table class="stack stack-full" align="right" border="0" cellpadding="0" cellspacing="0" width="64.6%">
													<tbody>
														<tr>
															<td class="valign-top" style="color:#E10036; font-size:28px; font-weight:bold; text-transform:uppercase; vertical-align:top;">STEP 2</td>
														</tr>
														<tr>
															<td style="height:20px; line-height:20px;"><span>&nbsp;</span></td>
														</tr>
														<tr>
															<td class="valign-top" style="color:#272834; font-size:16px; line-height:22px;">Jared Johnson, MBA ’20 and Adam Klein, MBA ’19, meet with the MIT Sloan Coders Club about an upcoming hackathon with the Product Management Club. Jared reflects on learning to code, “Being able to constantly challenge yourself with something, getting better and better, is an enjoyable ride.”</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>

								<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
									<tbody>
										<tr>
											<td width="480" height="1" style="height:24px; line-height:24px; border-bottom:1px solid #BDBBBB; width:480px;"><span>&nbsp;</span></td>
										</tr>
										<tr>
											<td style="height:30px; line-height:30px;"><span>&nbsp;</span></td>
										</tr>
									</tbody>
								</table>


								<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
									<tbody>
										<tr>
											<td class="valign-top" style="color:#E10036; font-size:28px; font-weight:bold; text-transform:uppercase; vertical-align:top;">STEP 3</td>
										</tr>
										<tr>
											<td style="height:20px; line-height:20px;"><span>&nbsp;</span></td>
										</tr>
										<tr>
											<td class="valign-top" style="color:#272834; font-size:16px; line-height:22px;">Jared Johnson, MBA ’20 and Adam Klein, MBA ’19, meet with the MIT Sloan Coders Club about an upcoming hackathon with the Product Management Club. Jared reflects on learning to code, “Being able to constantly challenge yourself with something, getting better and better, is an enjoyable ride.”</td>
										</tr>
										<tr>
											<td style="height:24px; line-height:24px;"><span>&nbsp;</span></td>
										</tr>
										<tr>
											<td>
												<table bgcolor="#E10036" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
													<tbody>
														<tr>
															<td class="spacer"style="width:20px;" width="20px;"><span>&nbsp;</span></td>
															<td class="spacer"style="width:440px;" width="440px;">
																<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
																	<tbody>
																		<tr>
																			<td style="height:30px; line-height:30px;"><span>&nbsp;</span></td>
																		</tr>
																		<tr>
																			<td style="text-align:center;">
																				<span style="color:#ffffff; font-size:56px; line-height:48px;"><strong>10%</strong></span>
																			</td>
																		</tr>
																		<tr>
																			<td style="height:6px; line-height:6px;"><span>&nbsp;</span></td>
																		</tr>
																		<tr>
																			<td style="text-align:center;">
																				<span style="color:#ffffff; font-size:21px; line-height:26px;"><strong>of students go on to be millionaires</strong></span>
																			</td>
																		</tr>
																		<tr>
																			<td style="height:26px; line-height:26px;"><span>&nbsp;</span></td>
																		</tr>
																	</tbody>
																</table>
															</td>
															<td class="spacer"style="width:20px;" width="20px;"><span>&nbsp;</span></td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td class="spacer" width="60" style="width:60px;"><span>&nbsp;</span></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<!-- END START Schedule Section - Images Yes - Full Width Item Yes -->
