						<!-- START Quotes Section - Multiple Items Yes - Images No - Gray -->
						<table class="table600full" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse; padding:0; margin:0 auto; width:600px;">
							<tbody>
								<tr>
									<td align="center" width="100%" style="background:#FFFFFF; width:100%;">
										<table bgcolor="#EBEBEB" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
											<tbody>
												<tr>
													<td class="spacer" width="60" style="width:60px;"><span>&nbsp;</span></td>
													<td class="stack stack-full" width="480" style="width:480px;">
														<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0 auto; width:100%;">
															<tbody>
																<tr>
																	<td style="height:44px; line-height:44px;"><span>&nbsp;</span></td>
																</tr>
															</tbody>
														</table>

														<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
															<tbody>
																<tr>
																	<td style="font-size:23px; line-height:30px; font-style:italic; font-weight:700; font-family:'Times New Roman', Times, serif; color:#00597D;"><b>“Sloan has exceeded every possible expectation I had set of business school in terms of diversity, academic rigor, strong friendships / networks, and unrivaled career opportunities.”</b></td>
																</tr>
																<tr>
																	<td style="height:18px; line-height:18px;"><span>&nbsp;</span></td>
																</tr>
																<tr>
																	<td style="width:100%; display:table; font-size:12px; font-weight:700; line-height:18px; border-spacing:0px; color:#00597D;">FIRSTNAME LASTNAME</td>
																</tr>
																<tr>
																	<td style="width:100%; display:table; font-size:12px; font-weight:400; line-height:18px; border-spacing:0px; color:#00597D;">tile probably long lorem ipsum</td>
																</tr>
															</tbody>
														</table>

														<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0 auto; width:100%;">
															<tbody>
																<tr>
																	<td width="480" style="height:38px; line-height:38px; border-bottom:1px solid #001731"><span>&nbsp;</span></td>
																</tr>
																<tr>
																	<td style="height:30px; line-height:30px;"><span>&nbsp;</span></td>
																</tr>
															</tbody>
														</table>

														<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
															<tbody>
																<tr>
																	<td style="font-size:23px; line-height:30px; font-style:italic; font-weight:700; font-family:'Times New Roman', Times, serif; color:#00597D;"><b>“Sloan has exceeded every possible expectation I had set of business school in terms of diversity, academic rigor, strong friendships / networks, and unrivaled career opportunities.”</b></td>
																</tr>
																<tr>
																	<td style="height:18px; line-height:18px;"><span>&nbsp;</span></td>
																</tr>
																<tr>
																	<td style="width:100%; display:table; font-size:12px; font-weight:700; line-height:18px; border-spacing:0px; color:#00597D;">FIRSTNAME LASTNAME</td>
																</tr>
																<tr>
																	<td style="width:100%; display:table; font-size:12px; font-weight:400; line-height:18px; border-spacing:0px; color:#00597D;">tile probably long lorem ipsum</td>
																</tr>
															</tbody>
														</table>

														<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0 auto; width:100%;">
															<tbody>
																<tr>
																	<td width="480" style="height:38px; line-height:38px; border-bottom:1px solid #001731"><span>&nbsp;</span></td>
																</tr>
																<tr>
																	<td style="height:30px; line-height:30px;"><span>&nbsp;</span></td>
																</tr>
															</tbody>
														</table>

														<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
															<tbody>
																<tr>
																	<td style="font-size:23px; line-height:30px; font-style:italic; font-weight:700; font-family:'Times New Roman', Times, serif; color:#00597D;"><b>“Sloan has exceeded every possible expectation I had set of business school in terms of diversity, academic rigor, strong friendships / networks, and unrivaled career opportunities.”</b></td>
																</tr>
																<tr>
																	<td style="height:18px; line-height:18px;"><span>&nbsp;</span></td>
																</tr>
																<tr>
																	<td style="width:100%; display:table; font-size:12px; font-weight:700; line-height:18px; border-spacing:0px; color:#00597D;">FIRSTNAME LASTNAME</td>
																</tr>
																<tr>
																	<td style="width:100%; display:table; font-size:12px; font-weight:400; line-height:18px; border-spacing:0px; color:#00597D;">tile probably long lorem ipsum</td>
																</tr>
															</tbody>
														</table>

														<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0 auto; width:100%;">
															<tbody>
																<tr>
																	<td style="height:58px; line-height:58px;"><span>&nbsp;</span></td>
																</tr>
															</tbody>
														</table>
													</td>
													<td class="spacer" width="60" style="width:60px;"><span>&nbsp;</span></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- END Quotes Section - Multiple Items Yes - Images No - Gray -->
