<!-- START Quotes Section - Multiple Items Yes - Images Yes - Gray -->
<table class="table600full" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse; padding:0; margin:0 auto; width:600px;">
	<tbody>
		<tr>
			<td align="center" width="100%" style="background:#FFFFFF; width:100%;">
				<table bgcolor="#EBEBEB" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
					<tbody>
						<tr>
							<td class="spacer" width="60"><span>&nbsp;</span></td>

							<td class="stack stack-full" width="480" style="width:480px;">
								<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0 auto; width:100%;">
									<tbody>
										<tr>
											<td style="height:54px; line-height:54px;"><span>&nbsp;</span></td>
										</tr>
									</tbody>
								</table>

								<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
									<tbody>
										<tr>
											<td>
												<table class="stack stack-full" align="left" border="0" cellpadding="0" cellspacing="0" width="31.25%">
													<tbody>
														<tr>
															<td class="mobile-bottom-20" width="480">
																<img class="img-fluid" alt="user-img" src="https://placehold.co/440x440" width="150" style="width:100%;" />
															</td>
														</tr>
													</tbody>
												</table>

												<table class="stack stack-full" align="right" border="0" cellpadding="0" cellspacing="0" width="64.6%">
													<tbody>
														<tr>
															<td class="mobile-hide" style="height:8px; line-height:8px;"><span>&nbsp;</span></td>
														</tr>
														<tr>
															<td style="font-size:23px; line-height:30px; font-style:italic; font-weight:700; font-family:'Times New Roman', Times, serif; color:#00597D;"><b>“Sloan has exceeded every possible expectation I had set of business school in terms of diversity, academic rigor, strong friendships / networks, and unrivaled career opportunities.”</b></td>
														</tr>
														<tr>
															<td style="height:18px; line-height:18px;"><span>&nbsp;</span></td>
														</tr>
														<tr>
															<td style="width:100%; display:table; font-size:12px; font-weight:700; line-height:18px; border-spacing:0px; color:#00597D;">FIRSTNAME LASTNAME</td>
														</tr>
														<tr>
															<td style="width:100%; display:table; font-size:12px; font-weight:400; line-height:18px; border-spacing:0px; color:#00597D;">tle probably long lorem ipsum</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>

								<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0 auto; width:100%;">
									<tbody>
										<tr>
											<td width="480" style="height:46px; line-height:46px; border-bottom:1px solid #001731"><span>&nbsp;</span></td>
										</tr>
										<tr>
											<td style="height:34px; line-height:34px;"><span>&nbsp;</span></td>
										</tr>
									</tbody>
								</table>

								<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
									<tbody>
										<tr>
											<td>
												<table class="stack stack-full" align="right" border="0" cellpadding="0" cellspacing="0" width="31.25%">
													<tbody>
														<tr>
															<td class="mobile-bottom-20" width="480">
																<img class="img-fluid" alt="user-img" src="https://placehold.co/300x300" width="150" style="width:100%;" />
															</td>
														</tr>
													</tbody>
												</table>

												<table class="stack stack-full" align="left" border="0" cellpadding="0" cellspacing="0" width="64.6%">
													<tbody>
														<tr>
															<td class="mobile-hide" style="height:8px; line-height:8px;"><span>&nbsp;</span></td>
														</tr>
														<tr>
															<td style="font-size:23px; line-height:30px; font-style:italic; font-weight:700; font-family:'Times New Roman', Times, serif; color:#00597D;"><b>“Sloan has exceeded every possible expectation I had set of business school in terms of diversity, academic rigor, strong friendships / networks, and unrivaled career opportunities.”</b></td>
														</tr>
														<tr>
															<td style="height:18px; line-height:18px;"><span>&nbsp;</span></td>
														</tr>
														<tr>
															<td style="width:100%; display:table; font-size:12px; font-weight:700; line-height:18px; border-spacing:0px; color:#00597D;">FIRSTNAME LASTNAME</td>
														</tr>
														<tr>
															<td style="width:100%; display:table; font-size:12px; font-weight:400; line-height:18px; border-spacing:0px; color:#00597D;">tle probably long lorem ipsum</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>

								<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0 auto; width:100%;">
									<tbody>
										<tr>
											<td width="480" style="height:46px; line-height:46px; border-bottom:1px solid #001731"><span>&nbsp;</span></td>
										</tr>
										<tr>
											<td style="height:34px; line-height:34px;"><span>&nbsp;</span></td>
										</tr>
									</tbody>
								</table>

								<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
									<tbody>
										<tr>
											<td>
												<table class="stack stack-full" align="left" border="0" cellpadding="0" cellspacing="0" width="31.25%">
													<tbody>
														<tr>
															<td class="mobile-bottom-20" width="480">
																<img class="img-fluid" alt="user-img" src="https://placehold.co/300x300" width="150" style="width:100%;" />
															</td>
														</tr>
													</tbody>
												</table>

												<table class="stack stack-full" align="right" border="0" cellpadding="0" cellspacing="0" width="64.6%">
													<tbody>
														<tr>
															<td class="mobile-hide" style="height:8px; line-height:8px;"><span>&nbsp;</span></td>
														</tr>
														<tr>
															<td style="font-size:23px; line-height:30px; font-style:italic; font-weight:700; font-family:'Times New Roman', Times, serif; color:#00597D;"><b>“Sloan has exceeded every possible expectation I had set of business school in terms of diversity, academic rigor, strong friendships / networks, and unrivaled career opportunities.”</b></td>
														</tr>
														<tr>
															<td style="height:18px; line-height:18px;"><span>&nbsp;</span></td>
														</tr>
														<tr>
															<td style="width:100%; display:table; font-size:12px; font-weight:700; line-height:18px; border-spacing:0px; color:#00597D;">FIRSTNAME LASTNAME</td>
														</tr>
														<tr>
															<td style="width:100%; display:table; font-size:12px; font-weight:400; line-height:18px; border-spacing:0px; color:#00597D;">tle probably long lorem ipsum</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>

								<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0 auto; width:100%;">
									<tbody>
										<tr>
											<td style="height:58px; line-height:58px;"><span>&nbsp;</span></td>
										</tr>
									</tbody>
								</table>
							</td>
							<td class="spacer" width="60"><span>&nbsp;</span></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<!-- END Quotes Section - Multiple Items Yes - Images Yes - Gray -->
