<!-- START Quotes Section - Single Quote - No Image - Gray (Responsive) -->
<table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%" style="width:100%; max-width:600px; margin:0 auto; border-collapse:collapse;">
  <tbody>
    <tr>
      <td style="padding:0; margin:0; background:#EBEBEB;">
        <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; width:100%;">
          <tbody>
            <tr>
              <td style="width:60px; min-width:10px; font-size:1px; line-height:1px;" width="60">&nbsp;</td>
              <td style="padding:0; margin:0;">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;">
                  <tbody>
                    <tr><td style="height:44px; line-height:44px; font-size:1px;">&nbsp;</td></tr>
                    <tr><td style="font-size:23px; line-height:30px; font-style:italic; font-weight:700; font-family:'Times New Roman', Times, serif; color:#00597D;">“Sloan has exceeded every possible expectation I had set of business school in terms of diversity, academic rigor, strong friendships / networks, and unrivaled career opportunities.”</td></tr>
                    <tr><td style="height:18px; line-height:18px; font-size:1px;">&nbsp;</td></tr>
                    <tr><td style="font-size:12px; line-height:18px; font-weight:700; color:#00597D;">FIRSTNAME LASTNAME</td></tr>
                    <tr><td style="font-size:12px; line-height:18px; font-weight:400; color:#00597D;">tile probably long lorem ipsum</td></tr>
                    <tr><td style="height:58px; line-height:58px; font-size:1px;">&nbsp;</td></tr>
                  </tbody>
                </table>
              </td>
              <td style="width:60px; min-width:10px; font-size:1px; line-height:1px;" width="60">&nbsp;</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<!-- END Quotes Section - Single Quote - No Image - Gray (Responsive) -->
