<!-- START Application Section - Full -->
<table class="table600full" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse; padding:0; margin:0 auto; width:600px;">
	<tbody>
		<tr>
			<td width="100%" style="background:#FFFFFF; width:100%;">
				<table  border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
					<tbody>
						<tr>
							<td class="spacer" width="60" style="width:60px;"><span>&nbsp;</span></td>
							<td class="grid_block" width="480" style="width:480px;">
									<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
									<tbody>
										<tr>
											<td class="valign-top" valign="top" style="color:#920C29; font-size:22px; font-weight:bold; line-height:28px;">
												<span>Optional title/header lorem ipsum dolor sit amet, consectetur elit</span>
											</td>
										</tr>
										<tr>
											<td style="height:20px; line-height:20px;"><span>&nbsp;</span></td>
										</tr>
										<tr>
											<td class="valign-top" valign="top" style="color:#272834; font-size:16px; line-height:22px; font-weight:normal;">
												<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Laoreet sagittis tortor. Mauris tempus, tellus et volutpat iaculis, lorem augue gravida est, vel aliquet nibh enim ac lacus. Morbi accumsan cursus mi, id interdum mi facilisis sed. Nunc maximus metus pretium pellentesque bibendum. <a href="#" style="color:#007CB5; text-decoration:underline">text link</a> eu urna nec lacinia. Praesent dignissim pretium sapien at porttitor.</span>
											</td>
										</tr>
										<tr>
											<td style="height:20px; line-height:20px;"><span>&nbsp;</span></td>
										</tr>
										<tr>
											<td class="valign-top" valign="top">
												<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
													<tbody>
														<tr>
															<td class="spacer" width="20" style="width:20px;"><span>&nbsp;</span></td>
															<td width="460" style="width:460px;">
																<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
																	<tbody>
																		<tr>
																			<td class="valign-top" valign="top" width="10" style="width:10px; color:#272834; font-size:16px;"><span>•&nbsp;</span></td>
																			<td style="color:#272834; font-size:16px;font-weight: normal;">
																				<span style="color:#272834; font-size:16px;font-weight: normal;">Donec pretium, ex eget dictum lobortis, sapien sapien fringilla nibh, quis</span>
																			</td>
																		</tr>
																		<tr>
																			<td style="height:15px; line-height:15px;"><span>&nbsp;</span></td>
																		</tr>
																		<tr>
																			<td class="valign-top" valign="top" width="10" style="width:10px; color:#272834; font-size:16px;"><span>•&nbsp;</span></td>
																			<td style="color:#272834; font-size:16px; font-weight:normal;">
																				<span style="color:#272834; font-size:16px; font-weight:normal;">Phasellus congue varius. Mauris leo mauris, tincidunt elementum erat</span>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
															<td class="spacer" width="20" style="width:20px;"><span>&nbsp;</span></td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
										<tr>
											<td style="height:20px; line-height:20px"><span>&nbsp;</span></td>
										</tr>
										<tr>
											<td class="valign-top" valign="top">
												<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
													<tbody>
														<tr>
															<td class="spacer" width="20" style="width:20px;"><span>&nbsp;</span></td>
															<td width="460" style="width:460px;">
																<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
																	<tbody>
																		<tr>
																			<td class="valign-top" valign="top" width="20" style="width:20px; color:#272834; font-size:16px;"><span>1.&nbsp;</span></td>
																			<td>
																				<span style="color:#272834; font-size:16px; font-weight:normal;">Donec pretium, ex eget dictum lobortis, sapien sapien fringilla nibh, quis</span>
																			</td>
																		</tr>
																		<tr>
																			<td style="height:15px; line-height:15px;"><span>&nbsp;</span></td>
																		</tr>
																		<tr>
																			<td class="valign-top" valign="top" width="20" style="width:20px; color:#272834; font-size:16px;"><span>2.&nbsp;</span></td>
																			<td style="color:#272834; font-size:16px;font-weight: normal;">
																				<span style="color:#272834; font-size:16px;font-weight: normal;">Phasellus congue varius. Mauris leo mauris, tincidunt elementum erat</span>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
										<tr>
											<td style="height:20px; line-height:20px"><span>&nbsp;</span></td>
										</tr>
										<tr>
											<td class="valign-top" valign="top">
												<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
													<tbody>
														<tr>
															<td class="spacer" width="20" style="width:20px;"><span>&nbsp;</span></td>
															<td width="460" style="width:460px;">
																<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
																	<tbody>
																		<tr>
																			<td class="valign-top" valign="top" width="20" style="width:20px; color:#272834; font-size:16px;"><span>1.&nbsp;</span></td>
																			<td>
																				<span style="color:#272834; font-size:16px; font-weight:normal;">Donec pretium, ex eget dictum lobortis, sapien sapien fringilla nibh, quis</span>
																			</td>
																		</tr>
																		<tr>
																			<td colspan="3" style="height:15px!important; line-height:15px!important;"><span>&nbsp;</span></td>
																		</tr>
																		<tr>
																			<td class="valign-top" valign="top" width="20" style="width:20px; color:#272834; font-size:16px;"><span>2.&nbsp;</span></td>
																			<td style="color:#272834; font-size:16px;font-weight: normal;">
																				<span style="color:#272834; font-size:16px;font-weight: normal;">Phasellus congue varius. Mauris leo mauris, tincidunt elementum erat</span>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
										<tr>
											<td style="height:40px; line-height:40px;"><span>&nbsp;</span></td>
										</tr>
										<tr>
											<td>
												<table border="0" cellpadding="0" cellspacing="0" width="480" style="border-collapse:collapse; padding:0; margin:0; width:480px;">
													<tbody>
														<tr>
															<td>
																<table align="left" border="0" cellpadding="0" cellspacing="0" style="width:auto!important;">
																	<tbody>
																		<tr>
																			<td bgcolor="FFFFFF" style="float:left;">
																				<a href="#" style="padding:8px 16px; border:1px solid #E10036; font-size:12px; font-weight:700; color:#E10036; text-decoration:none; line-height:1; background-color:#ffffff; display:block">BEGIN YOUR APPLICATION</a>
																			</td>
																		</tr>
																	</tbody>
																</table>

																<table align="left" border="0" cellpadding="0" cellspacing="0" style="width:auto!important;">
																	<tbody>
																		<tr>
																			<td bgcolor="#E10036" style="float:left;">
																				<a href="#" style="padding:8px 16px; border:1px solid #E10036; font-size:12px; font-weight:700; color:#FFFFFF; text-decoration:none; line-height:1; background-color:#E10036; display:block">BEGIN YOUR APPLICATION</a>
																			</td>
																		</tr>
																	</tbody>
																</table>

																<table align="left" border="0" cellpadding="0" cellspacing="0" style="width:auto!important;">
																	<tbody>
																		<tr>
																			<td height="30" width="16" style="width:16px; float:left;"><span>&nbsp;</span></td>
																		</tr>
																	</tbody>
																</table>

																<table align="left" border="0" cellpadding="0" cellspacing="0" style="width:auto!important;">
																	<tbody>
																		<tr>
																			<td style="float:left;">
																				<a href="#" style="padding:8px 0; border:1px solid #FFFFFF; font-size:12px; font-weight:700; color:#00597D; text-decoration:underline; line-height:1; display:block">REGISTER</a>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
										<tr>
											<td style="height:30px; line-height:30px;"><span>&nbsp;</span></td>
										</tr>
										<tr>
											<td class="valign-top" valign="top" style="color:#272834; font-size:16px;">Ready to get started? Begin your application today!</td>
										</tr>
										<tr>
											<td style="height:25px; line-height:25px;"><span>&nbsp;</span></td>
										</tr>
										<tr>
											<td class="valign-top" valign="top" style="color:#272834; font-size:16px;">Sincerely,</td>
										</tr>
										<tr>
											<td style="height:25px; line-height:25px;"><span>&nbsp;</span></td>
										</tr>
										<tr>
											<td class="valign-top" valign="top">
												<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
													<tbody>
														<tr>
															<td class="valign-top" valign="top">
																<img alt="user-img" src="https://placehold.co/156x156" width="78" height="78" style="margin:0px 10px 0px 0px; width:78px; height:78px;" />
															</td>
															<td style="line-height:normal;">
																<span style="color:#920C29; font-size:12px; font-weight:bold;">Walter White&nbsp;</span>
																<span style="color:#920C29; font-size:12px; font-weight:bold;">|&nbsp;</span>
																<span style="color:#920C29; font-size:12px; font-weight:bold;">Professor of Chemistry</span>
																<br />
																<span style="color:#434547; font-size:12px; display:table;">MIT Department of Chemistry</span>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
										<tr>
											<td style="height:20px; line-height:20px;"><span>&nbsp;</span></td>
										</tr>
										<tr>
											<td class="valign-top" valign="top">
												<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
													<tbody>
														<tr>
															<td class="valign-top" valign="top">
																<img alt="signature" src="https://placehold.co/228x92" width="114" height="46" style="width:114px; height:46px;" />
															</td>
														</tr>
														<tr>
															<td style="height:8px; line-height:8px;"><span>&nbsp;</span></td>
														</tr>
														<tr>
															<td style="line-height:normal;">
																<span style="color:#920C29; font-size:12px; font-weight:bold;">Walter White&nbsp;</span>
																<span style="color:#920C29; font-size:12px; font-weight:bold;">|&nbsp;</span>
																<span style="color:#920C29; font-size:12px; font-weight:bold;">Professor of Chemistry</span>
																<br />
																<span style="color:#434547; font-size:12px; display:table;">MIT Department of Chemistry</span>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td class="spacer" width="60" style="width:60px;"><span>&nbsp;</span></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<!-- End Application Section - Full -->
