<!-- START Articles Section - Alternating Yes - Intro Yes - Excerpts No (Refactored) -->
<table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="border-collapse:collapse; width:100%; background:#FFFFFF;">
	<tr><td align="center">
		<table role="presentation" width="600" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse; width:100%; max-width:600px; background:#F4F4F4; color:#272834;">
			<tr>
				<td width="60" style="width:60px;">&nbsp;</td>
				<td width="480" style="width:480px;">
					<table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse; width:100%;">
						<tr><td style="height:60px; line-height:60px; font-size:1px;">&nbsp;</td></tr>
						<tr><td style="font-size:24px; line-height:30px; font-weight:700; color:#001731;">Title lorem ipsum dolor sit amet, consectetur elit</td></tr>
						<tr><td style="height:15px; line-height:15px; font-size:1px;">&nbsp;</td></tr>
						<tr><td style="font-size:16px; line-height:22px; color:#272834;">Optional intro text area. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque laoreet sagittis tortor. Mauris tempus, tellus et volutpat iaculis, lorem augue gravida est, vel aliquet nibh enim ac lacus.</td></tr>
						<tr><td style="height:50px; line-height:50px; font-size:1px;">&nbsp;</td></tr>

						<!-- Article 1 (image left, text right no excerpt) -->
						<tr><td>
							<table role="presentation" align="left" width="232" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse; width:232px;">
								<tr><td><img src="https://placehold.co/464x464.png" alt="Article image" width="232" style="display:block; width:100%; height:auto; border:0;" /></td></tr>
							</table>
							<table role="presentation" align="right" width="232" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse; width:232px;">
								<tr><td style="height:40px; line-height:40px; font-size:1px;">&nbsp;</td></tr>
								<tr><td style="color:#00597D; font-size:18px; font-weight:bold; line-height:22px;">Setting the record straight on lean</td></tr>
								<tr><td style="height:14px; line-height:14px; font-size:1px;">&nbsp;</td></tr>
								<tr><td style="line-height:5px; font-size:1px;"><img src="https://applymitsloan.mit.edu/www/images/ADM%20Email%20Template%20Photos/line03.png" alt="separator" width="35" height="5" style="display:block; width:35px; height:5px; border:0;" /></td></tr>
								<tr><td style="height:14px; line-height:14px; font-size:1px;">&nbsp;</td></tr>
								<tr><td><a href="#" style="font-size:12px; line-height:17px; color:#001731; font-weight:700; text-decoration:underline;">READ THE FULL ARTICLE</a></td></tr>
							</table>
						</td></tr>
						<tr><td style="height:30px; line-height:30px; font-size:1px;">&nbsp;</td></tr>

						<!-- Article 2 (image right, text left no excerpt) -->
						<tr><td>
							<table role="presentation" align="right" width="232" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse; width:232px;">
								<tr><td><img src="https://placehold.co/464x464.png" alt="Article image" width="232" style="display:block; width:100%; height:auto; border:0;" /></td></tr>
							</table>
							<table role="presentation" align="left" width="232" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse; width:232px;">
								<tr><td style="height:40px; line-height:40px; font-size:1px;">&nbsp;</td></tr>
								<tr><td style="color:#00597D; font-size:18px; font-weight:bold; line-height:22px;">As fintechs make inroads with customers, legacy banks push back</td></tr>
								<tr><td style="height:14px; line-height:14px; font-size:1px;">&nbsp;</td></tr>
								<tr><td style="line-height:5px; font-size:1px;"><img src="https://applymitsloan.mit.edu/www/images/ADM%20Email%20Template%20Photos/line03.png" alt="separator" width="35" height="5" style="display:block; width:35px; height:5px; border:0;" /></td></tr>
								<tr><td style="height:14px; line-height:14px; font-size:1px;">&nbsp;</td></tr>
								<tr><td><a href="#" style="font-size:12px; line-height:17px; color:#001731; font-weight:700; text-decoration:underline;">READ THE FULL ARTICLE</a></td></tr>
							</table>
						</td></tr>
						<tr><td style="height:30px; line-height:30px; font-size:1px;">&nbsp;</td></tr>

						<!-- Article 3 (image left, text right no excerpt) -->
						<tr><td>
							<table role="presentation" align="left" width="232" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse; width:232px;">
								<tr><td><img src="https://placehold.co/464x464.png" alt="Article image" width="232" style="display:block; width:100%; height:auto; border:0;" /></td></tr>
							</table>
							<table role="presentation" align="right" width="232" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse; width:232px;">
								<tr><td style="height:40px; line-height:40px; font-size:1px;">&nbsp;</td></tr>
								<tr><td style="color:#00597D; font-size:18px; font-weight:bold; line-height:22px;">Idea for small farms app wins 2019 Enterprise Management Lab hackathon</td></tr>
								<tr><td style="height:14px; line-height:14px; font-size:1px;">&nbsp;</td></tr>
								<tr><td style="line-height:5px; font-size:1px;"><img src="https://applymitsloan.mit.edu/www/images/ADM%20Email%20Template%20Photos/line03.png" alt="separator" width="35" height="5" style="display:block; width:35px; height:5px; border:0;" /></td></tr>
								<tr><td style="height:14px; line-height:14px; font-size:1px;">&nbsp;</td></tr>
								<tr><td><a href="#" style="font-size:12px; line-height:17px; color:#001731; font-weight:700; text-decoration:underline;">READ THE FULL ARTICLE</a></td></tr>
							</table>
						</td></tr>
						<tr><td style="height:60px; line-height:60px; font-size:1px;">&nbsp;</td></tr>
					</table>
				</td>
				<td width="60" style="width:60px;">&nbsp;</td>
			</tr>
		</table>
	</td></tr>
</table>
<!-- END Articles Section - Alternating Yes - Intro Yes - Excerpts No (Refactored) -->
