<!-- START Articles Section - Alternating No - Intro No - Excerpts Yes -->
<table class="table600full" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse; padding:0; margin:0 auto; width:600px;">
	<tbody>
		<tr>
			<td align="center" width="100%" style="background:#ffffff; width:100%;">
				<table bgcolor="#F4F4F4" border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#F4F4F4; color:#272834; padding:0; border-collapse:collapse; margin:0; width:100%;">
					<tbody>
						<tr>
							<td class="spacer" style="width:60px;" width="60"><span>&nbsp;</span></td>
							<td class="stack stack-full" width="480" style="width:480px;">
								<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0 auto; width:100%;">
									<tbody>
										<tr>
											<td style="height:55px; line-height:55px;"><span>&nbsp;</span></td>
										</tr>
									</tbody>
								</table>

								<table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:0; border-collapse:collapse; margin:0; width:100%;">
									<tbody>
										<tr>
											<td>
												<table class="stack stack-full" align="left" border="0" cellpadding="0" cellspacing="0" width="48.34%">
													<tbody>
														<tr>
															<td class="mobile-bottom-20" width="480">
																<img class="img-fluid" alt="img-fluid" src="https://placehold.co/464x464.png" width="232" style="width:100%;" />
															</td>
														</tr>
													</tbody>
												</table>

												<table class="stack stack-full" align="right" border="0" cellpadding="0" cellspacing="0" width="47.5%">
													<tbody>
														<tr>
															<td style="color:#00597D; font-size:18px; font-weight:bold; line-height:22px;">Setting the record straight on lean</td>
														</tr>
														<tr>
															<td style="height:14px; line-height:14px;"><span>&nbsp;</span></td>
														</tr>
														<tr>
															<td style="line-height:5px;"><img alt="hr-line" src="https://applymitsloan.mit.edu/www/images/ADM%20Email%20Template%20Photos/line03.png" style="width:35px; height:5px;" /></td>
														</tr>
														<tr>
															<td style="height:14px; line-height:14px;"><span>&nbsp;</span></td>
														</tr>
														<tr>
															<td style="color:#272834; font-size:16px; line-height:22px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</td>
														</tr>
														<tr>
															<td style="height:20px; line-height:20px;"><span>&nbsp;</span></td>
														</tr>
														<tr>
															<td>
																<a href="#" style="font-size:12px; line-height:17px; color:#001731; font-weight:700; display:table; text-decoration:underline;">READ THE FULL ARTICLE</a>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>

								<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0 auto; width:100%;">
									<tbody>
										<tr>
											<td style="height:30px; line-height:30px;"><span>&nbsp;</span></td>
										</tr>
									</tbody>
								</table>

								<table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:0; border-collapse:collapse; margin:0; width:100%;">
									<tbody>
										<tr>
											<td>
												<table class="stack stack-full" align="left" border="0" cellpadding="0" cellspacing="0" width="48.34%">
													<tbody>
														<tr>
															<td class="mobile-bottom-20" width="480">
																<img class="img-fluid" alt="img-fluid" src="https://placehold.co/464x464.png" width="232" style="width:100%;" />
															</td>
														</tr>
													</tbody>
												</table>

												<table class="stack stack-full" align="right" border="0" cellpadding="0" cellspacing="0" width="47.5%">
													<tbody>
														<tr>
															<td style="color:#00597D; font-size:18px; font-weight:bold; line-height:22px;">As fintechs make inroads with customers, legacy banks push back</td>
														</tr>
														<tr>
															<td style="height:14px; line-height:14px;"><span>&nbsp;</span></td>
														</tr>
														<tr>
															<td style="line-height:5px;"><img alt="hr-line" src="https://applymitsloan.mit.edu/www/images/ADM%20Email%20Template%20Photos/line03.png" style="width:35px; height:5px;" /></td>
														</tr>
														<tr>
															<td style="height:14px; line-height:14px;"><span>&nbsp;</span></td>
														</tr>
														<tr>
															<td style="color:#272834; font-size:16px; line-height:22px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
														</tr>
														<tr>
															<td style="height:20px; line-height:20px;"><span>&nbsp;</span></td>
														</tr>
														<tr>
															<td>
																<a href="#" style="font-size:12px; line-height:17px; color:#001731; font-weight:700; display:table; text-decoration:underline;">READ THE FULL ARTICLE</a>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>

								<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0 auto; width:100%;">
									<tbody>
										<tr>
											<td style="height:30px; line-height:30px;"><span>&nbsp;</span></td>
										</tr>
									</tbody>
								</table>

								<table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:0; border-collapse:collapse; margin:0; width:100%;">
									<tbody>
										<tr>
											<td>
												<table class="stack stack-full" align="left" border="0" cellpadding="0" cellspacing="0" width="48.34%">
													<tbody>
														<tr>
															<td class="mobile-bottom-20" width="480">
																<img class="img-fluid" alt="img-fluid" src="https://placehold.co/464x464.png" width="232" style="width:100%;" />
															</td>
														</tr>
													</tbody>
												</table>

												<table class="stack stack-full" align="right" border="0" cellpadding="0" cellspacing="0" width="47.5%">
													<tbody>
														<tr>
															<td style="color:#00597D; font-size:18px; font-weight:bold; line-height:22px;">Idea for small farms app wins 2019 Enterprise Management Lab hackathon</td>
														</tr>
														<tr>
															<td style="height:14px; line-height:14px;"><span>&nbsp;</span></td>
														</tr>
														<tr>
															<td style="line-height:5px;"><img alt="hr-line" src="https://applymitsloan.mit.edu/www/images/ADM%20Email%20Template%20Photos/line03.png" style="width:35px; height:5px;" /></td>
														</tr>
														<tr>
															<td style="height:14px; line-height:14px;"><span>&nbsp;</span></td>
														</tr>
														<tr>
															<td style="color:#272834; font-size:16px; line-height:22px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</td>
														</tr>
														<tr>
															<td style="height:20px; line-height:20px;"><span>&nbsp;</span></td>
														</tr>
														<tr>
															<td>
																<a href="#" style="font-size:12px; line-height:17px; color:#001731; font-weight:700; display:table; text-decoration:underline;">READ THE FULL ARTICLE</a>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>

								<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0 auto; width:100%;">
									<tbody>
										<tr>
											<td style="height:60px; line-height:60px;"><span>&nbsp;</span></td>
										</tr>
									</tbody>
								</table>
							</td>
							<td class="spacer" style="width:60px;" width="60"><span>&nbsp;</span></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<!-- END Articles Section - Alternating No - Intro No - Excerpts Yes -->
