						<!-- START Footer Section -->
						<table class="table600full" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse; padding:0; margin:0 auto; width:600px;">
							<tbody>
								<tr>
									<td align="center" width="100%" style="background:#ffffff; width:100%;">
										<table bgcolor="#001731" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0; width:100%;">
											<tbody>
												<tr>
													<td class="spacer" width="60" style="width:60px;"><span>&nbsp;</span></td>
													<td width="480" style="width:480px;">
														<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse; padding:0; margin:0 auto; width:100%;">
															<tbody>
																<tr>
																	<td style="height:30px; line-height:30px;"><span>&nbsp;</span></td>
																</tr>
																<tr>
																	<td align="center" style="text-align:center; line-height:20px;">
																		<a href="https://mitsloan.mit.edu/admissions-events" style="color:#fff; font-size:10px; font-weight:bold; text-decoration:underline;">VIEW EVENTS</a><br />
																		<a href="https://mitsloan.mit.edu/about/why-mit-sloan" style="color:#fff; font-size:10px; font-weight:bold; text-decoration:underline;">WHY MIT SLOAN</a><br />
																		<a href="http://applymitsloan.mit.edu/account/login" style="color:#fff; font-size:10px; font-weight:bold; text-decoration:underline;">LOG IN</a>
																	</td>
																</tr>
																<tr>
																	<td style="height:30px; line-height:30px;"><span>&nbsp;</span></td>
																</tr>
																<tr>
																	<td align="center" style="text-align:center;">
																		<a href="http://mitsloan.mit.edu"><img alt="icon" class="icon-img" src="https://applymitsloan.mit.edu/www/images/ADM%20Email%20Template%20Photos/MITSloan_Dome-Transparent_Web%20white.png" width="25" height="19" style="width:25px; height:19px;" /></a>
																	</td>
																</tr>
																<tr>
																	<td style="height:5px; line-height:5px;"><span>&nbsp;</span></td>
																</tr>
																<tr>
																	<td align="center" style="color:#fff; font-size:10px; line-height:14px; text-align:center;">MIT Sloan School of Management<br />Office of Admissions<br />50 Memorial Drive, Building E52-359<br />Cambridge, MA 02142</td>
																</tr>
																<tr>
																	<td style="height:8px; line-height:8px;"><span>&nbsp;</span></td>
																</tr>
																<tr>
																	<td align="center">
																		<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; padding:0; margin:0 auto;">
																			<tbody>
																				<tr>
																					<td width="15" style="float:left;">
																						<a href="http://www.facebook.com/MITSloanAdmissions" style="color:#fff; text-align:center;">
																							<img alt="social-img" src="https://applymitsloan.mit.edu/www/images/ADM%20Email%20Template%20Photos/facebook%20high%20res.png" width="15" height="15" style="width:15px; height:15px;" />
																						</a>
																					</td>
																					<td width="10" style="float:left;"><span>&nbsp;</span></td>
																					<td width="15" style="float:left;">
																						<a href="http://www.instagram.com/mitsloanadmissions/?utm_content=btn" style="color:#fff; text-align:center;">
																							<img alt="social-img" src="https://applymitsloan.mit.edu/www/images/ADM%20Email%20Template%20Photos/instagram%20high%20res.png" width="15" height="15" style="width:15px; height:15px;" />
																						</a>
																					</td>
																					<td width="10" style="float:left;"><span>&nbsp;</span></td>
																					<td width="15" style="float:left;">
																						<a href="http://twitter.com/MITSloanAdcom?utm_content=btn" style="color:#fff; text-align:center;">
																							<img alt="social-img" src="https://applymitsloan.mit.edu/www/images/ADM%20Email%20Template%20Photos/twitter%20high%20res.png" width="15" height="15" style="width:15px; height:15px;" />
																						</a>
																					</td>
																					<td width="10" style="float:left;"><span>&nbsp;</span></td>
																					<td width="15" style="float:left;">
																						<a href="http://www.linkedin.com/company/11235414/?utm_content=btn" style="color:#fff; text-align:center;">
																							<img alt="social-img" src="https://applymitsloan.mit.edu/www/images/ADM%20Email%20Template%20Photos/linkedin%20high%20res.png" width="15" height="15" style="width:15px; height:15px;" />
																						</a>
																					</td>
																					<td width="10" style="float:left;"><span>&nbsp;</span></td>
																					<td width="15" style="float:left;">
																						<a href="http://www.youtube.com/channel/UCtlOAjz5Pn3-nBPDZdLPeLw?utm_content=btn" style="color:#fff; text-align:center;">
																							<img alt="social-img" src="https://applymitsloan.mit.edu/www/images/ADM%20Email%20Template%20Photos/Youtube%20high%20res.png" width="15" height="15" style="width:15px; height:15px;" />
																						</a>
																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</td>
																</tr>
																<tr>
																	<td style="height:8px; line-height:8px;"><span>&nbsp;</span></td>
																</tr>
																<tr>
                            <td align="center" style="text-align:center; line-height:14px;"><span style="color:#fff; font-size:10px;">#MyMITSloan</span></td>
                          </tr>
																</tr>
																<tr>
																	<td style="height:8px; line-height:8px;"><span>&nbsp;</span></td>
																</tr>
																<tr>
																	<td align="center" style="text-align:center; line-height:14px;">
																		<em><span style="color:#fff; font-size:10px;">You may have received this email because you took the GMAT or GRE.</span></em>
																	</td>
																</tr>
																<tr>
																	<td style="height:35px; line-height:35px;"><span>&nbsp;</span></td>
																</tr>
															</tbody>
														</table>
													</td>
													<td class="spacer" width="60" style="width:60px;"><span>&nbsp;</span></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- END Footer Section -->
