<!-- START Footer (Refactored) -->
<table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="border-collapse:collapse; width:100%; background:#FFFFFF;">
	<tr>
		<td align="center" style="padding:0; margin:0;">
			<table role="presentation" width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="border-collapse:collapse; width:100%; max-width:600px; background:#001731;">
				<tr>
					<td width="60" style="width:60px;">&nbsp;</td>
					<td width="480" style="width:480px;">
						<table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse; width:100%;">
							<tr><td style="height:30px; line-height:30px; font-size:1px;">&nbsp;</td></tr>
							<tr>
								<td align="center" style="text-align:center; line-height:20px;">
									<a href="https://mitsloan.mit.edu/admissions-events" style="color:#FFFFFF; font-size:10px; font-weight:bold; text-decoration:underline;">VIEW EVENTS</a><br />
									<a href="https://mitsloan.mit.edu/about/why-mit-sloan" style="color:#FFFFFF; font-size:10px; font-weight:bold; text-decoration:underline;">WHY MIT SLOAN</a><br />
									<a href="http://applymitsloan.mit.edu/account/login" style="color:#FFFFFF; font-size:10px; font-weight:bold; text-decoration:underline;">LOG IN</a>
								</td>
							</tr>
							<tr><td style="height:30px; line-height:30px; font-size:1px;">&nbsp;</td></tr>
							<tr>
								<td align="center">
									<a href="http://mitsloan.mit.edu" style="text-decoration:none;">
										<img src="https://applymitsloan.mit.edu/www/images/ADM%20Email%20Template%20Photos/MITSloan_Dome-Transparent_Web%20white.png" alt="MIT Sloan Dome" width="25" height="19" style="display:block; width:25px; height:19px; border:0;" />
									</a>
								</td>
							</tr>
							<tr><td style="height:5px; line-height:5px; font-size:1px;">&nbsp;</td></tr>
							<tr>
								<td align="center" style="color:#FFFFFF; font-size:10px; line-height:14px; text-align:center;">MIT Sloan School of Management<br />Office of Admissions<br />50 Memorial Drive, Building E52-359<br />Cambridge, MA 02142</td>
							</tr>
							<tr><td style="height:8px; line-height:8px; font-size:1px;">&nbsp;</td></tr>
							<tr>
								<td align="center">
									<table role="presentation" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse; margin:0 auto;">
										<tr>
											<td width="15" style="width:15px;">
												<a href="http://www.facebook.com/MITSloanAdmissions" style="display:block;">
													<img src="https://applymitsloan.mit.edu/www/images/ADM%20Email%20Template%20Photos/facebook%20high%20res.png" alt="Facebook" width="15" height="15" style="display:block; width:15px; height:15px; border:0;" />
												</a>
											</td>
											<td width="10" style="width:10px; font-size:1px; line-height:1px;">&nbsp;</td>
											<td width="15" style="width:15px;">
												<a href="http://www.instagram.com/mitsloanadmissions/?utm_content=btn" style="display:block;">
													<img src="https://applymitsloan.mit.edu/www/images/ADM%20Email%20Template%20Photos/instagram%20high%20res.png" alt="Instagram" width="15" height="15" style="display:block; width:15px; height:15px; border:0;" />
												</a>
											</td>
											<td width="10" style="width:10px; font-size:1px; line-height:1px;">&nbsp;</td>
											<td width="15" style="width:15px;">
												<a href="http://twitter.com/MITSloanAdcom?utm_content=btn" style="display:block;">
													<img src="https://applymitsloan.mit.edu/www/images/ADM%20Email%20Template%20Photos/twitter%20high%20res.png" alt="Twitter" width="15" height="15" style="display:block; width:15px; height:15px; border:0;" />
												</a>
											</td>
											<td width="10" style="width:10px; font-size:1px; line-height:1px;">&nbsp;</td>
											<td width="15" style="width:15px;">
												<a href="http://www.linkedin.com/company/11235414/?utm_content=btn" style="display:block;">
													<img src="https://applymitsloan.mit.edu/www/images/ADM%20Email%20Template%20Photos/linkedin%20high%20res.png" alt="LinkedIn" width="15" height="15" style="display:block; width:15px; height:15px; border:0;" />
												</a>
											</td>
											<td width="10" style="width:10px; font-size:1px; line-height:1px;">&nbsp;</td>
											<td width="15" style="width:15px;">
												<a href="http://www.youtube.com/channel/UCtlOAjz5Pn3-nBPDZdLPeLw?utm_content=btn" style="display:block;">
													<img src="https://applymitsloan.mit.edu/www/images/ADM%20Email%20Template%20Photos/Youtube%20high%20res.png" alt="YouTube" width="15" height="15" style="display:block; width:15px; height:15px; border:0;" />
												</a>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr><td style="height:8px; line-height:8px; font-size:1px;">&nbsp;</td></tr>
							<tr>
								<td align="center" style="text-align:center; line-height:14px;">
									<span style="color:#FFFFFF; font-size:10px;">#MyMITSloan</span>
								</td>
							</tr>
							<tr><td style="height:8px; line-height:8px; font-size:1px;">&nbsp;</td></tr>
							<tr>
								<td align="center" style="text-align:center; line-height:14px;">
									<em><span style="color:#FFFFFF; font-size:10px;">You may have received this email because you took the GMAT or GRE.</span></em>
								</td>
							</tr>
							<tr><td style="height:35px; line-height:35px; font-size:1px;">&nbsp;</td></tr>
						</table>
					</td>
					<td width="60" style="width:60px;">&nbsp;</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<!-- END Footer (Refactored) -->
